<article id="standard">
    <h2 id="main-text">
        <%= image_for(@car) %>
        <h2><%= @car.year %> <%= @car.make %> <%= @car.model %></h2>
    </h2>
    <table>
    <tr>
        <th>Miles:</th>
        <td><%= number_with_delimiter(@car.mileage, :delimiter => ',') %></td>
    </tr>
    <tr>
        <th>Color:</th>
        <td><%=@car.color %></td>
    </tr>
    <tr>
        <th>Price:</th>
        <td><%= number_to_currency(@car.price) %>
        </td>
    </tr>
    </table>


    <!--Set up for admin privilages-->
    <% if current_user_admin? %>
        <%= link_to("Edit Vehicle", edit_car_path(@car)) %> |
        <%= link_to "Delete Vehicle", car_path(@car), method: :delete,
            data: {confirm: "Delete Vehicle?"} %>

    <% elsif current_user %>
        <% if @current_wish %>
            <%= link_to 'Remove from my Wishlist', car_wish_path(@car,
            @current_wish),method: :delete %> | 
        <% else %>
            <%= link_to 'Add to my Wishlist', car_wishes_path(@car), method: :post %> |
        <% end %>
        Financing Options
        <!-- TODO: Make link below redirect to faux financing page -->
        <!-- link_to("Click for Options", new_session_path) -->
    <% end %>
</article>
