<article id="standard">
    <h2 id="main-text">
        <%= image_for(@car) %>
        <h2><%= @car.year %> <%= @car.make %> <%= @car.model %></h2>
    </h2>
    <table>
    <tr>
        <th>Miles:</th>
        <td><%= number_with_delimiter(@car.mileage, :delimiter => ',') %></td>
    </tr>
    <tr>
        <th>Color:</th>
        <td><%=@car.color %></td>
    </tr>
    <tr>
        <th>Price:</th>
        <td><%= number_to_currency(@car.price) %>
        </td>
    </tr>
    </table>
    <% if current_user %>
        <%= link_to("Customize Vehicle", edit_car_path(@car)) %> |
        <%= link_to "Buy Now", car_path(@car), method: :delete,
            data: {confirm: "Purchase Vehicle?"} %>
    <% else %>
        <%= link_to("Click for Options", new_session_path) %>
    <% end %>
</article>
